<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esiea.mydaily">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnYVkPDWerM5AWh6Gw79_mh9xIg54c3Ws" />

        <activity android:name=".AccountActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AccountActivity.SignUpActivity" />
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".RestaurantActivity" />
        <activity android:name=".TaxiActivity" />
        <activity android:name=".KioskActivity" />
        <activity android:name=".OrderActivity"></activity>
    </application>

</manifest>